.card-container {
  padding: 55px 0;
  @include fbox(row, center, flex-start);
  flex-wrap: wrap;
  gap: 10px;
  .c-card {
    width: calc(100% / 3 - 10px);
    height: 374px;
    background-color: $whiteColor;
    @include fbox(column, center, center);
    padding: 0px 20px;
    gap: 20px;
    &__txt {
      text-align: center;
      p {
        font-size: 16px;
        font-weight: 300;
        margin-top: 20px;
      }
    }
  }
}
