html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
}

.logo {
  background-color: #000;
  margin-bottom: 5px;
}
.logo h1 {
  text-align: center;
  padding: 20px 0;
}
.logo h1 a {
  color: #ffffff;
}

.nav-container {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  display: flex;
  gap: 2px;
}
.navbar__item {
  width: calc(33.3333333333% - 4px);
  background-color: #ffc0cb;
  text-align: center;
  padding: 20px;
  position: relative;
}
.navbar__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: #000;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.navbar__item:hover::after {
  opacity: 1;
}
.navbar__item a {
  color: #000;
  font-weight: 600;
}

.container {
  max-width: 900px;
  margin: auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 20px 0;
}
.card-container__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(33.3333333333% - 4px);
  gap: 5px;
}
.card-container__card__img {
  overflow: hidden;
}
.card-container__card img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
.card-container__card img:hover {
  transform: scale(1.3);
}
.card-container__btn {
  width: 150px;
  height: 40px;
  transform: skew(-20deg);
  border: 2px solid #ff0000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
}
.card-container__btn:hover {
  background-color: #ff0000;
}
.card-container__btn:hover a {
  color: #ffffff;
}
.card-container__btn a {
  color: #000;
  text-decoration: none;
  transition: all 1s ease-in-out;
}

.def__title {
  font-weight: bold;
  background-color: #ffc0cb;
  padding: 10px;
  position: relative;
  color: #ffffff;
}
.def__title::after {
  position: absolute;
  content: "+";
  right: 30px;
  font-size: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.def__ans {
  padding: 20px;
  font-size: 15px;
  font-weight: 600;
}

.copyright {
  padding: 30px 0;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  font-size: 15px;
}
.copyright address {
  font-style: italic;
}/*# sourceMappingURL=style.css.map */