@import "../utility/color";

.c-btn {
  border-radius: 50px;
  width: 307px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $buleColor;
  a {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2em;
  }
}
