.mainvistual {
  background-image: url("../../../img/mainvisual-bg.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 880px;
  margin: 0 auto;

  &__text {
    height: 100%;
    @include fbox(column, center, center);
    color: $whiteColor;
    h2 {
      font-size: 100px;
      font-weight: 300;
      height: 114px;
    }
    p {
      font-size: 18px;
      text-align: center;
      width: 700px;
      line-height: 1.5;
      height: 101px;
    }
  }
}
